.form {
  height: 0;
  opacity: 0;
  transition: .4s ease;
  margin: 10px auto 40px;
  width: 800px;

  input {
    margin: 10px;
    display: inline-block;
    padding-left: 7px;
    outline: none;
  }
}

.visible {
  height: 100px;
  opacity: 1;
}