.admin-title {
  text-align: center;
  color: lighten($lightOverlay, 25%);
  padding-top: 130px;
  font-size: 2.8rem;
  margin-top: 0;
}

.tour-date {
  background: $lightOverlay;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;

  a:visited {
    color: black;
  }
}

button {
  cursor: pointer;
}

.add-btn {
  display: block;
  margin: 40px auto;
}