.tour-container {
  width: 100%;
  margin: 0;

  h1 {
    color: $lightOverlay;
    font-size: 15rem;
    margin: 0;
    opacity: .35;
    height: 175px;
    line-height: 150px;
  }

  table {
    width: 95%;
    margin: 20px auto 100px;
  }

  h3, td, th {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
  }

  h3 {
    margin-top: -20px;
    margin-bottom: 100px;
    padding: 0 30px;
  }

  td {
    height: 60px;
    border-bottom: 1px solid $lightOverlay;
  }

  th {
    font-size: 1.5rem;
    border-bottom: 2px solid $lightOverlay;
  }
}

.tickets-btn {
  width: 80px;
  height: 40px;
  background: none;
  border: 2px solid $purple;
  border-radius: 5px;
  color: $purple;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  transition: .3s ease;
  outline: none;

  &:hover {
    background: $purple;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .tour-container {
    th {
      font-size: 1rem;
    }

    td {
      font-size: .7rem;
    }
  }

  .tickets-btn {
    font-size: .7rem;
    width: 60px;
    height: 30px;
  }
}