.press-kit {
  h2 {
    color: lighten($purple, 10%);
    text-align: center;
    margin: 100px auto;
    padding: 0 30px;
  }

  section {
    width: 100%;
    height: 250px;
    background: url('./assets/smaller-cover.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4rem;
    letter-spacing: 15px;
    text-shadow: 0 0 20px rgba(0, 0, 0, .3);
  }
}

.bios {
  color: white;
  width: 400px;
  padding: 15px;
  background: rgba(255, 255, 255, 0.3);
  margin: 20px;
  border-radius: 10px;

  h2 {
    margin: 10px auto;
    color: white;
  }

  p {
    font-family: 'Open Sans';
    font-size: .9rem;
    line-height: 135%;
  }
}

.pictures {
  padding: 30px;
  background: rgba(255, 255, 255, 0.3);
  margin: 20px;
  border-radius: 10px;
  width: 640px;
  display: grid;
  grid-template-columns: 325px 325px;
  grid-auto-flow: dense;
  grid-gap: 15px;

  .bigpic {
    grid-row: 1 / 3;
  }

  img {
    width: 300px;
    display: block;
    margin: auto 0px;
  }
}