$lightOverlay: rgba(180, 128, 180, 0.657);
$darkPurple: rgb(47, 1, 65);

@import './components/AdminLogin/AdminLogin';
@import './components/AdminHome/AdminHome';
@import './components/AdminTour/AdminTour';
@import './components/TourForm/Form';


body {
  margin: 0;
  background: url('./assets/background.png');
  background-size: cover;
  background-position: 100 center;
}

@font-face {
  font-family: 'Cooper';
  src: url('./assets/Cooper.otf');
}

* {
  font-family: 'Cooper'
}