$lightOverlay: rgba(180, 128, 180, 0.657);
$darkPurple: rgb(47, 1, 65);

@import './components/Admin/AdminLogin/AdminLogin';
@import './components/Admin/AdminHome/AdminHome';
@import './components/Admin/AdminTour/AdminTour';
@import './components/Admin/AdminPhotos/AdminPhotos';
@import './components/Admin/AdminVideos/_AdminVideos';
@import './components/Admin/AdminMailing/_AdminMailing';
@import './components/Forms/Form';
@import './components/MainNav/MainNav';


body {
  margin: 0;
  background: url('./assets/background.png');
  background-size: cover;
  background-position: 100 center;
}

@font-face {
  font-family: 'Cooper';
  src: url('./assets/Cooper.otf');
}

* {
  font-family: 'Cooper'
}