$lightOverlay: rgba(180, 128, 180, 0.657);
$darkPurple: rgb(47, 1, 65);
$purple: #b45dd6;

@import './components/Admin/AdminLogin/AdminLogin';
@import './components/Admin/AdminHome/AdminHome';
@import './components/Admin/AdminTour/AdminTour';
@import './components/Admin/AdminPhotos/AdminPhotos';
@import './components/Admin/AdminVideos/_AdminVideos';
@import './components/Admin/AdminMailing/_AdminMailing';
@import './components/Forms/Form';
@import './components/MainNav/MainNav';
@import './components/Tour/Tour';
@import './components/Loader/Loader';


body {
  background: url('./assets/background.png');
  max-width: 16000px;
  margin: auto;
  background-attachment: fixed;
  background-size: cover;
}

@font-face {
  font-family: 'Cooper';
  src: url('./assets/Cooper.otf');
}

* {
  font-family: 'Cooper'
}