.video-link {
  text-align: center;
  margin-bottom: 20px;
}

.video {
  background: $lightOverlay;
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto;
  padding: 20px;
}

.video-container {
  margin: 0 auto 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}